@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300&display=swap");
:root{
    background:#02275f;
    --blanco: #ffffff;
    --white: #ffffff;
    --blancoon: #964c10;
    --turqueza: #f0b07b;
    --claro: #a0e7d2;
    --azulito: #ffffff;
    --negro: #f5f1f1;
}
@media  only screen and (max-width: 499px) {
    .content{
        margin: auto;
        padding: 10px;
        width: 90%;
        
    }
    .btnInicio{
        background-color: var(--blancoon);
        padding: 20px;
        border-radius: 10px;
        width: auto;
        margin: 5px;
        color: var(--blanco);
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        cursor: pointer;
        border: none;
        transition: all .3s;  
        font-weight: bold;
    
    }
    
    span.line{
        width: 20px;
        height: 20px;
        margin: 5px;
        border-bottom: 3px solid var(--blancoon);
        color: var(--white);
        font-family: "Inter";
        font-size: 20px;
        font-weight: bold;

    }
    #toast-qr{
        visibility: hidden;
        text-align: center;
        z-index: 1;
        min-width: 60px;
        margin: auto;
        width: 200px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border: none;
        border-radius: 10px;
        padding: 20px;
    
        box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
        -webkit-box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
        -moz-box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
    }
}
@media  only screen and (min-width: 500px) {

    .content{
        margin: auto;
        padding: 10px;
        width: 70%;
    }
    #toast-qr{
        visibility: hidden;
        text-align: center;
        z-index: 1;
        min-width: 120px;
        margin: auto;
        width: 400px;
        height: 130px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border: none;
        border-radius: 10px;
        padding: 20px;
    
        box-shadow: -15px 19px 35px -13px rgba(0, 0, 0, 0.55);
        -webkit-box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
        -moz-box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
    }
    .btnInicio{
        background-color: var(--blancoon);
        padding: 20px;
        border-radius: 10px;
        width: auto;
        margin: 5px;
        color: var(--blanco);
        font-family: "Inter";
        font-size: 20px;
        cursor: pointer;
        border: none;
        transition: all .3s;  
        font-weight: bold;
    }
    span.line{
        width: 40px;
        height: 40px;
        margin: 5px;
        border-bottom: 3px solid var(--blancoon);
        color: var(--white);
        font-family: "Inter";
        font-size: 30px;
        font-weight: bold;
    }
}

a{
    text-decoration: none;
    color: var(--blancoon);
}
a:hover{
    color: var(--turqueza);
}
body{
    margin: 0;
    background-color: var(--beige);
}
h6{
    font-family: "Inter";
    margin: 0;
    font-size: 14px;
}
.teclado{
    max-width: 400px;
    width: auto;
    margin: auto;
    align-items: center;
    text-align: center;
}
.content2{
    text-align: center;
}

.flex{
    display: flex;
}
img.media{
    width: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 10px;
}
img{
    height: 100%; 
    width: 100%; 
    object-fit: 'contain'
}
span{
    width: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--blancoon);
    font-family: "Inter";
    font-weight: bold;
}
span.spaceline{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-bottom: none;
}
.boxWords{
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
}
input{
    border-radius: 10px;
    border: none;
    padding: 8px;
    text-align: center;
    background-color: var(--negro);
    width: 80%;
    margin: 10px;
    font-size: 18px;
    font-family: "Inter";  
    font-weight: bold; 
}
input:focus, input:active{
    border: none;
}
p{
    background-color: transparent;
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    margin: 0%;
}
.block{
    display: block;
}
#reglas{
    color: #203239;
    font-family: "Inter";
    display: none;
}
.datos{
    color: var(--negro);
    font-family: "Inter";
    border-radius: 4px;
    background-color: var(--blancoon);
    padding: 8px;
    text-align: center;
    margin: 0 4px;
}
.stats1{
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
}
.reload{
    color: var(--negro);
    font-family: "Inter";
    border-radius: 4px;
    background-color: var(--blancoon);
    padding: 8px;
    text-align: center;
    margin: 0 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    transition:  all 0.5s;

}
.reload:hover{
    background-color: var(--turqueza);
}

#toast-qr.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
#toast-qr.hide{
    visibility: hidden;
    -webkit-animation: fadeout 0.5s 2.5s;
    animation: fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 35%; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 35%; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 35%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 35%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.toastbtn{
    padding: 8px;
    background-color: var(--negro);
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: var(--blancoon);
    font-family: "Inter";
    transition: all 0.5s;
    font-weight:bold;

}
.toastbtn:hover{
    background-color: var(--blancoon);
    color: var(--white);
    cursor: pointer;

}
.game{
    color: var(--white);
    background: rgb(20,30,39);
    background: linear-gradient(90deg, rgb(1, 23, 37) 0%, rgb(2, 28, 41) 50%, rgb(2, 25, 48) 100%);
    padding: 8px;
    display: none;
}
.msgGame{
    margin: auto;
    padding: 20px;
    text-align: center;
   
}
canvas{
        padding: 0;
        margin: auto;
        display: block;
    
}
button.lett{
    background-color: var(--blancoon);
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 3px;
    color: var(--blanco);
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
    border: none;
    transition: all .3s;
    font-weight:bold;
}
button.lett:hover,.btnInicio:hover{
    background-color: var(--turqueza);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    color: var(--blanco);
    transform: scale(1.2);
}
button.lett:active,.btnInicio:active{
    background-color: var(--turqueza);
    transform: translateY(2px);
    transition-duration: .35s;
}
.header{
    margin-top: 5px;
    padding: 5px;
    color:#02275f;
    font-weight: bold;
    font-size:17px;
}
.pista{
    font-size: 12px;
    background: #964c10;
    color: #ffffff;
    padding: 10px;
    margin: 2px;
    font-family: "Inter";
    font-weight: none;
    border-radius:10px;
    width: auto;
    transition: all .3s;
    font-weight:bold;
}

.premiorecibido{
    background-color: var(--blancoon);
    padding: 10px;
    border-radius: 10px;
    width: auto;
    margin: 5px;
    color: var(--blanco);
    font-family:"Inter";
    font-size: 15px;
    cursor: pointer;
    border: none;
    transition: all .3s;
    font-weight: bold;  
}
.premiorecibido:hover{
    background-color: var(--turqueza);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    color: var(--blanco);
    transform: scale(1.2);
}

/*Css de home.html*/
.cofre{
    width: 300px;
    height: 300px;
    margin:10px 0px 0px 20px;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
}
.cofre:hover{
    opacity: 0;
    cursor: pointer;
}
.cofresito{
    width: 300px;
    height: 300px;
    margin: 10px 0px 0px 20px;
    padding: 5px;
    border-radius:20px ;
}
.tocar{
    font-size: 13px;
    color: var(--white);
    margin: 0px 0px 0px 0px;
    padding: 2px;
    font-family: "Inter";
    font-weight: bold; 
}
#premiopag{
    background-color: var(--blancoon);
    padding: 20px;
    border-radius: 10px;
    width: auto;
    margin: 10px 0px 0px 80px;
    color: var(--blanco);
    font-family:"Inter";
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: all .3s; 
}
#premiopag:hover{
    background-color: var(--turqueza);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    color: var(--blanco);
    transform: scale(1.2);
}
.felicidades{
    font-size: 20px;
    color: var(--white);
    margin: 0px 0px 0px 0px;
    padding: 2px;
    font-family: "Inter";
}
.muñecofeliz{
    width: 150px;
    height: 150px;
    margin:0px 0px 0px 20px;
}